
/*-----Setear-----*/
body {
  box-sizing: content-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
/*-----Fin setear-----*/

/*-----Selectores reutilizables-----*/

.reset-list li {
  list-style-type: none;
}

.rest-text-list li a {
  color: #FFFFFF;
  text-decoration: none;
}

.center-text {
  align-content: center;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}
.size-title {
  font-size: 32px;
}

.size-parrafo {
  font-size: 14px;
}

.size-subtitle {
  font-size: 28px;
}
/*-----Fin selectores reutilizables-----*/

/*-----Header-----*/
.nav-bar {
  background-color: #24103B;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.navbar-header, .navbar-nav , .navbar-nav li {
  display: inline-block;
  vertical-align: middle;
}

.navbar-header {
  margin-left: 10vh;
  margin-top: 5vh;
}

.navbar-nav {
  margin-left: 90vh;
}

.navbar-nav li {
  margin-top: 2vh;
  margin-right: 5vh;
}

/*     Añadiendo el logo     */
.navbar-header img {
  height: 40px;
  width: 50px;
}

/*     Jumbotrom     */
#jumbotrom {
  background-image: url("../assets/images/hero.gif");
  background-repeat: no-repeat;
  background-size: 80%;
  height: 550px;
  position: relative;
  width: 100%;
}

.container-jumbotrom {
  background-color: white;
  height: 450px;
  margin-top: 100px;
  position: absolute;
  right: 0;
  top: 0px;
  width: 570px;
}

.container-jumbotrom form {
  color: #352384;
  padding: 60px 0 0 60px;
}

.container-jumbotrom form input {
  border-bottom-color: rgb(143, 143, 143);
  border-left: none;
  border-right: none;
  border-top: none;
  height: 35px;
  width: 65vh;
}

.btn {
  background-color: white;
  border: none;
  color: white;
  font-family: inherit;
  margin: 3vh 0;
  padding: 15px;
}

.btn-become {
  background-color: #FF00BF;
  border-radius: 5px;
}
/*     Fin jumbotrom     */

/*     Seccion-fluid    */
#section-fluid {
  background-color: #71278D;
  height: 100vh;
  width: 100%;
}

.container-fluid {
  height: auto;
  text-align: center;
  width: auto;
  color: white;
}

.row {
  box-sizing: content-box;
  display: inline-block;
  margin-top: 10vh;
  vertical-align: middle;
}

.container-fluid .row:first-child {
  text-align: justify;
}

.container-fluid .row p {
  margin-bottom: 8vh;
}

.size-img-fluid img {
  height: 60vh;
  width: 70vh;
  padding-top: 5vh;
}

/*     Fin seccion-fluid    */

/*-----Fin header-----*/

/*-----Container-section----*/
.container-section {
  background-color: white;
  height: 500px;
}

.row-section-left {
  float:left;
}

.row-section-right {
  float:right;
}

.size-watch {
  font-size: 12px;
  font-weight: bold;
}

.text-section {
  box-sizing: border-box;
  line-height: 1.5;
  margin-top: 5vh;
  padding: 5vh;
  width: 60vh;
}
/*-----Fin container-section----*/

/*-----Footer----*/
footer {
  background-color: #333447;
  clear: left;
}

.container-footer {
  color: white;
  padding: 5vh;
  text-align: center;
}

.row-footer {
  display: inline-block;
  color: white;
  line-height: 2;
  text-align: justify;
  vertical-align: top;
  width: 40vh;
}

.footer-below {
  margin-top: 10vh;
}

.footer-below ul li {
  display: inline-block;
  margin-right: 5vh;
}

.footer-below ul li i {
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  padding: 10px ;
}

.row-footer figure img {
  height: 30px;
  width: 90px;
}

hr {
  margin-top: 5vh;
  width: 100vh;
}

.list li a:hover {
  color: #FF00BF !important;
}

/*-----Fin footer----*/
